node_modules
coverage
dist
*.log
.DS_Store
.next
out/
.env
*.env.local
.envproduction
.vercel
.cache
**/public/bootstrap/*.js.map
**/public/bootstrap/*.js
**/public/bootstrapper.js
**/public/sw.js*
**/cypress/screenshots/
**/cypress/videos/
storybook-static/
.swc
.tinyb
.react-email
yarn.lock

config.yaml
lib
.env
.env.*
