node_modules
coverage
*.log
.DS_Store
.next
out/
*.env.local
.envproduction
.vercel
.cache
public/bootstrap/*.js.map
public/bootstrap/*.js
cypress/screenshots/
cypress/videos/

docker-compose.yaml
public/sw.js*
