node_modules
coverage
dist
*.log
.DS_Store
.next
out/
*.env.local
.envproduction
.vercel
.cache
**/public/bootstrap/*.js.map
**/public/bootstrap/*.js
**/public/sw.js*
**/cypress/screenshots/
**/cypress/videos/
storybook-static/

docker-compose.yaml
mockServiceWorker.js
