{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "endOfLine": "lf",
  "importOrder": ["^\\$server/(.*)$", "^\\$/(.*)$", "^\\$shared/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
