version: '3'

# Test docker build
services:
  chirpy-main:
    container_name: chirpy-main
    image: devrsi0n/chirpy
    build:
      context: ./
      dockerfile: Dockerfile
      # Don't put any sensitive key to build-args, as they'll be exposed to build history, https://github.com/docker/build-push-action/blob/master/docs/advanced/secrets.md
      args:
        NEXT_PUBLIC_APP_URL: http://localhost:3000
        NEXT_PUBLIC_ANALYTICS_DOMAIN: ${NEXT_PUBLIC_ANALYTICS_DOMAIN}
        NEXTAUTH_URL: http://localhost:3000
    environment:
      NEXT_PUBLIC_HASURA_HTTP_ORIGIN: http://127.0.0.1:8080/v1/graphql
      NEXT_PUBLIC_HASURA_WS_ORIGIN: ws://127.0.0.1:8080/v1/graphql
      NEXT_PUBLIC_APP_URL: http://localhost:3000
      NEXT_PUBLIC_VAPID: ${NEXT_PUBLIC_VAPID}
      NEXT_PUBLIC_ANALYTICS_DOMAIN: ${NEXT_PUBLIC_ANALYTICS_DOMAIN}
      NEXTAUTH_URL: http://localhost:3000
      HASURA_ADMIN_SECRET: ${HASURA_ADMIN_SECRET}
      HASURA_EVENT_SECRET: ${HASURA_EVENT_SECRET}
      HASH_ALGORITHM: ${HASH_ALGORITHM}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      PRIVATE_VAPID: ${PRIVATE_VAPID}
      EMAIL_API_KEY: ${EMAIL_API_KEY}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      TWITTER_CONSUMER_KEY: ${TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${TWITTER_CONSUMER_SECRET}
    restart: always
    ports:
      - 3000:3000
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    # networks:
    #   - my_network

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
# networks:
#   my_network:
#     external: true