@tailwind base;
@tailwind components;
@tailwind utilities;

.html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@layer base {
  input:focus {
    outline: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
}
