.headline {
  line-height: 1.09;
  font-size: 3.25rem;
  width: 100%;
}

@media (min-width: 320px) {
  .headline {
    line-height: 1.09;
    font-size: 4rem;
  }
}

@media (min-width: 640px) {
  .headline {
    width: 35rem;
  }
}
