/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind components;

@layer base {
  :root {
    /* 13px */
    --text-xs: 0.8125rem;
    /* 14px  */
    --text-sm: 0.875rem;
    /* 16px */
    --text-md: 1rem;
    /* 20px */
    --text-lg: 1.25rem;

    /* display */
    /* 24px */
    --text-xl: 1.5rem;
    /* 32px */
    --text-2xl: 2rem;
    /* 48px */
    --text-3xl: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      /* 14px */
      --text-xs: 0.875rem;
      /* 16px */
      --text-sm: 1rem;
      /* 18px */
      --text-md: 1.125rem;
      /* 24px */
      --text-lg: 1.5rem;

      /* // display */
      /* 32px */
      --text-xl: 2rem;
      /* 48px */
      --text-2xl: 3rem;
      /* 64px */
      --text-3xl: 4rem;
    }
  }

  ::selection {
    color: var(--colors-background);
    background: var(--colors-primary);
  }

  input:focus {
    outline: none;
  }

  * {
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
}
