<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Chirpy</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/base.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/components.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.4.1/dist/typography.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/utilities.min.css" />
  </head>
  <body class="bg-gray-100">
    <main class="my-4 flex flex-col items-center">
      <article class="p-3 bg-white shadow-sm prose">
        <h4>Hi <%= it.userName %>,</h4>
        <p>
          I sincerely appreciate you joining us at Chirpy! I know you'll love it when you see how
          easy it is to reach your customers with Chirpy.
        </p>
        <p>You can get started by creating a project and integrating it to your website.</p>
        <div>
          <a class="mx-auto" href="https://chirpy.dev/dashboard">Dashboard</a>
        </div>

        <div class="-space-y-5">
          <p>Thanks,</p>
          <p>Qing | Creator of Chirpy</p>
        </div>
      </article>
    </main>
  </body>
</html>
