.hairlines {
  height: 1px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hairlines:after {
    @apply bg-divider;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }
}
