@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @apply bg-bg;
}

html,
body,
#__next {
  height: 100%;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  // Fix the unexpected black outline when clicking a focusable element
  outline-color: transparent;
}

::selection {
  @apply bg-primary-900 text-primary-100;
}

:focus-visible {
  outline: none;
  outline-color: transparent;
}

input:focus,
button:focus {
  outline: none;
  outline-color: transparent;
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/Inter/Inter-roman.var.woff2') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/Inter/Inter-italic.var.woff2') format('woff2');
  font-named-instance: 'Italic';
}

// Header and footer
.layout {
  width: clamp(540px, 70ch, 1080px);
}
@media screen and (max-width: 540px) {
  .layout {
    width: 100%;
    @apply px-4;
  }
}

.article > * {
  @apply mb-10;
}

[tooltip] {
  position: relative;
  display: inline-block;
}

[tooltip]::before {
  transition: 0.3s;
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(25, 30, 56) transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip]::after {
  transition: 0.3s;
  white-space: nowrap;
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(25, 30, 56);
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  min-width: 80px;
  max-width: 420px;
  border-radius: 3px;
  pointer-events: none;
  padding: 4px 8px;
  z-index: 99;
  opacity: 0;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
}

.rtePlaceholder:first-child::before {
  content: attr(data-placeholder);
  @apply pointer-events-none float-left h-0 text-gray-1000;
}

// Fix tailwind typography conflicts pretty-code background
[data-rehype-pretty-code-fragment] {
  background-color: #282a36;
  border-radius: 0.375rem;
}

.icon.icon-link {
  @apply bg-gray-1200;
  mask-image: url(/images/docs/link.svg);
  width: 14px;
  height: 14px;
  display: none;
  margin-left: 6px;

  // Hide underline animation
  & ~ span {
    display: none;
  }

  h1 & {
    width: 20px;
    height: 20px;
  }
  h2 & {
    width: 16px;
    height: 16px;
  }
  h3 & {
    width: 15px;
    height: 15px;
  }
}

// Show icon when hovering on headings
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  & > a > .icon.icon-link {
    display: inline-block;
  }
}
