name: 'Next.js Bundle Analysis'

on:
  pull_request:
  push:
    branches:
      - main
      - prod
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install pnpm
        uses: pnpm/action-setup@v2.1.0
        with:
          version: ^7.1.0
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build next.js app
        run: ./node_modules/.bin/next build
        working-directory: ./apps/main
        env:
          ANALYZE: true
          RELATIVE_CI_KEY: ${{ secrets.RELATIVE_CI_KEY }}
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          HASURA_EVENT_SECRET: ${{ secrets.HASURA_EVENT_SECRET }}
          HASH_ALGORITHM: ${{ secrets.HASH_ALGORITHM }}
          HASURA_ADMIN_SECRET: ${{ secrets.HASURA_ADMIN_SECRET }}
          NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
          NEXT_PUBLIC_ANALYTICS_DOMAIN: ${{ secrets.NEXT_PUBLIC_ANALYTICS_DOMAIN }}
          NEXT_PUBLIC_APP_URL: ${{ secrets.NEXT_PUBLIC_APP_URL }}
          NEXT_PUBLIC_COMMENT_DOMAIN: ${{ secrets.NEXT_PUBLIC_COMMENT_DOMAIN }}
          NEXT_PUBLIC_HASURA_HTTP_ORIGIN: ${{ secrets.NEXT_PUBLIC_HASURA_HTTP_ORIGIN }}
          NEXT_PUBLIC_HASURA_WS_ORIGIN: ${{ secrets.NEXT_PUBLIC_HASURA_WS_ORIGIN }}
